<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2888532110259721"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2888532110259721"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2888532110259721"
      crossorigin="anonymous"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5L1NGG01JQ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5L1NGG01JQ");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTML Meta Tags -->
    <title>youtube-dl - Download video and audio from youtube for free</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="free download audio and video from YouTube with our cutting-edge web app. Instantly convert your favorite videos into high-quality MP3 or MP4 files, enabling you to enjoy music and videos offline anytime, anywhere. No registration required. Try it for free now!"
    />

    <!-- Google / Search Engine Tags -->
    <meta
      itemprop="name"
      content="youtube-dl - Download video and audio from youtube for free"
    />
    <meta
      itemprop="description"
      content="free download audio and video from YouTube with our cutting-edge web app. Instantly convert your favorite videos into high-quality MP3 or MP4 files, enabling you to enjoy music and videos offline anytime, anywhere. No registration required. Try it for free now!"
    />
    <meta
      itemprop="image"
      content="https://image.winudf.com/v2/user/admin/YWRtaW5fNDMwYTM3MjUxNGRkN2MxZDg0MjI2ZGM4MWY4OWJlZDUuanBlZ18xNjQ5Mjk3NzI4Nzk1/image.png?fakeurl=1"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://youtube-dl.online" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="youtube-dl - Download video and audio from youtube for free"
    />
    <meta
      property="og:description"
      content="free download audio and video from YouTube with our cutting-edge web app. Instantly convert your favorite videos into high-quality MP3 or MP4 files, enabling you to enjoy music and videos offline anytime, anywhere. No registration required. Try it for free now!"
    />
    <meta
      property="og:image"
      content="https://image.winudf.com/v2/user/admin/YWRtaW5fNDMwYTM3MjUxNGRkN2MxZDg0MjI2ZGM4MWY4OWJlZDUuanBlZ18xNjQ5Mjk3NzI4Nzk1/image.png?fakeurl=1"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="youtube-dl - Download video and audio from youtube for free"
    />
    <meta
      name="twitter:description"
      content="free download audio and video from YouTube with our cutting-edge web app. Instantly convert your favorite videos into high-quality MP3 or MP4 files, enabling you to enjoy music and videos offline anytime, anywhere. No registration required. Try it for free now!"
    />
    <meta
      name="twitter:image"
      content="https://image.winudf.com/v2/user/admin/YWRtaW5fNDMwYTM3MjUxNGRkN2MxZDg0MjI2ZGM4MWY4OWJlZDUuanBlZ18xNjQ5Mjk3NzI4Nzk1/image.png?fakeurl=1"
    />

    <!-- Meta Tags Generated via http://heymeta.com -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

      body {
        font-family: "Inter", sans-serif;
        height: 100vh;
        height: 100svh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgb(105, 27, 27), rgb(26, 26, 100));
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      h1 {
        padding: 1rem 0.8rem;
      }

      .my-5 {
        width: min(100% - 1rem, 400px);
        margin: 0 !important;
        padding: 0.2rem 0.8rem 0.8rem 0.8rem;
        border-radius: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .my-5 button {
        width: 100px;
        margin: 0 auto;
      }

      .my-6::after {
        content: "";
        inset: 0;
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.51);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 15px 1px;

        position: absolute;
        border-radius: 25px;
        z-index: -1;
      }

      strong,
      label {
        color: white !important;
      }

      strong {
        font-size: 2.3rem !important;
      }

      input[type="text"] {
        border-radius: 20px !important;
        background: rgba(124, 124, 124, 0.267);
        border: none;
        border-bottom: 2px solid rgba(240, 240, 240, 0.671);
      }

      input[type="text"]::placeholder {
        color: rgb(167, 167, 167);
      }

      .container-video {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
      }

      .container-video {
        width: 100vw;
        width: 100svw;
        height: 100vh;
        height: 100svw;
      }

      video {
        width: 100vw;
      }

      @media (max-width: 1500px) {
        video {
          height: 100svh;
          width: auto;
        }
      }
    </style>
  </head>
  <body>
    <div class="container my-5 my-6">
      <div class="container-video">
        <video
          src="/bg/pexels-cottonbro-9669050 (1080p).mp4"
          autoplay
          muted
          repeat
          loop
        ></video>
      </div>
      <div class="google-ad">
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2888532110259721"
          crossorigin="anonymous"
        ></script>
        <!-- ad1 -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-2888532110259721"
          data-ad-slot="7527528502"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <h1><strong>YT-Downloader</strong></h1>
      <form method="GET" action="/download" class="my-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Video Link from Youtube</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Video URL"
            name="url"
          />
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
      </form>
      <div class="google-ad">
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2888532110259721"
          crossorigin="anonymous"
        ></script>
        <!-- ad2 -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-2888532110259721"
          data-ad-slot="2255020525"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </body>
</html>
